# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/

# Environment variables
.env

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Python cache
.pytest_cache/
.mypy_cache/

# Build
dist/
build/

# Jupyter
.ipynb_checkpoints/